@import "compass";
@import "compass/css3";
@import "compass/reset";

html, body {
    height: 100%;
}

.container {
    -webkit-user-select: none;
    position: relative;
    height: 100%;
    overflow: hidden;
    
    .inner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        @include background(linear-gradient(#999, #fff));
    }
}
